.idkgg {
    height: 24px;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.gayxx {
    fill: none;
    stroke: var(--color-foreground);
    stroke-width: 6;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}


.idkggoncheckout {
    height: 26px;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.gayxxoncheckout {
    fill: none;
    stroke: var(--color-background);
    stroke-width: 6;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}