@keyframes shake-twice {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-15deg);
    }

    10% {
        transform: rotate(15deg);
    }

    15% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(15deg);
    }

    65% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.animate-shake-twice {
    animation: shake-twice 3s infinite;
    display: inline-block;
}